    	<!--/row-->
    </div>
    <!--/.fluid-container-->
     </div>


<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->  
    <script type="text/javascript" src="<?=JS?>jquery.form.js"></script>
    <script type="text/javascript" src="<?=JS?>limiter.js"></script>   
    <script type="text/javascript" src="<?=JS?>like.js"></script>   
    <script src="<?=JS?>bootstrap-alert.js"></script>
    <script src="<?=JS?>bootstrap-dropdown.js"></script>
    <script src="<?=JS?>bootstrap-collapse.js"></script>
    <script src="<?=JS?>bootstrap-affix.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
    <!--<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>-->  
    <!--<script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-modal.js"></script>-->   
    <!--<script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-scrollspy.js"></script>-->
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-tab.js"></script>
    <!--<script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-button.js"></script>-->  
    <!--<script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-carousel.js"></script>-->
    <!--<script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-typeahead.js"></script>-->  
    <!--<script src="http://twitter.github.io/bootstrap/assets/js/holder/holder.js"></script>-->
    <!--<script src="http://twitter.github.io/bootstrap/assets/js/application.js"></script>-->
    
    <script>
    $(document).ready( function() {
	   var elem = $("#chars");
	   $("#text").limiter(100, elem);
       });
    </script>
    

  </body>
</html>
