<?php require_once HEADER; ?>

<?php require_once MENU; ?>
    
    			<div class="well">	
    			<p><strong>Типичный программист</strong> – это сообщество, объединяющее людей, которым интересно программирование и всё, что с этим связано. У нас нет ботов, все наши подписчики - реальные люди, которые приходят к нам исключительно потому, что у нас интересно. Именно поэтому у нас такое большое соотношение активности к числу подписчиков. Около 68% аудитории имеют возраст от 18ти до 27 лет, большинство из Москвы и Санкт-Петербурга. Более подробная статистика высылается по запросу т.к. показатели постоянно меняются, мы растём каждый день. </p>
<hr />
<blockquote><a href="mailto:partners@tproger.ru">partners@tproger.ru</a></blockquote>
<hr />


<blockquote>
Разработка сайта и поддержка проекта(веб) - <a href="mailto:foozzi@xakep.ru">foozzi@xakep.ru</a><br />
Twitter - <a href="https://twitter.com/foozzi">foozzi</a><br />
VK.com - <a href="https://vk.com/foozzi">foozzi</a>
</blockquote>
</div>
</div>

<?php require_once FOOTER; ?>
